---
version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: update-go-pkg
      include: scope
    open-pull-requests-limit: 2
    target-branch: main
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: update-github-action
      include: scope
    open-pull-requests-limit: 2
    target-branch: main
  - package-ecosystem: docker
    directory: /cmd/proxy
    schedule:
      interval: weekly
