body {
  font-family: $default-font-family;
  font-feature-settings : 'pwid';
  line-height: $default-line-height;
  background: $default-background-color;
}

body {
  margin: 0;
}

a {
  color: $default-link-color;
  &:hover {
    color: $default-link-hover-color;
  }
}

p {
  font-size: $default-font-size;
}

pre {
  overflow: auto;
  background: $code-block-background-color;
  padding: 1rem;
  border: 1px solid $code-border-color;
  code {
    background-color: transparent;
    padding: 0;
  }
}
code {
  font-family: $code-font-family;
  font-size: $code-font-size;
  background: $code-inline-background-color;
  padding: .2rem;
}

blockquote {
  background: #f9f9f9;
  color: #959595;
  border-left: 4px solid #e5e5e5;
  margin-left: 0;
  padding: .1rem .8rem;
}

table {
  border-spacing: 0;
  border-top: 1px solid $default-line-color;
  border-left: 1px solid $default-line-color;
  margin-bottom: $default-margin;
  width: 100%;

  tr:nth-child(even) td {
    background: #f8f8f8;
  }
}
th {
  border-bottom: 1px solid $default-line-color;
  border-right: 1px solid $default-line-color;
  padding: .4em;
  font-weight: bold;
}
td {
  border-bottom: 1px solid $default-line-color;
  border-right: 1px solid $default-line-color;
  padding: .4em;
}

img {
  max-width: 100%;
}
figure {
  margin: 0;
}

hr {
  height: 2px;
  border: 0;
  background-color: #ccc;
}
