<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">

    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />

	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>GopherPacks</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->

  </head>
  <body class="section-white">

    <nav class="navbar navbar-primary navbar-fixed-top" id="sectionsNav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">GopherPacks</a>
            </div>
  
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
  
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">apps</i> Modules
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-with-icons">
                <li>
                  <a href="#">
                    <i class="material-icons">view_day</i> Popular Today
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="material-icons">account_circle</i> My Modules
                  </a>
                </li>
              </ul>
            </li>
  

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">account_box</i> Sign In
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-with-icons">
                <li>
                  <a href="#">
                    <i class="material-icons">account_circle</i> Github
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="material-icons">account_circle</i> Gitlab
                  </a>
                </li>
              </ul>
            </li>
              </ul>
            </div>
        </div>
      </nav>


	<div class="section-space"></div>


      <%= partial("flash.html") %>
      <%= yield %>

    <%= javascriptTag("application.js") %>
  </body>





	



</html>
